<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TRPG Platform</title>
    <link rel="stylesheet" type="text/css" href="static/trpgassistant/frontpage.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</head>


<body>

    <div id="id_title_div" class='title'>
        <div class='content'>    
            <a>The Call of Cthulhu</a>
        </div>   

        <div class='left'>
            <a>Profile</a>
        </div>    
    </div>

    <main class="px-3">

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>The Call of Cthulhu</h1>
            </div>
            <div class="col-4"></div>
        </div>

        <br>
        <br>
        <br>


        <form method="post" action="{% url 'frontpage' %}">
            <div class="d-grid gap-2 col-4 mx-auto">
                <button class="btn btn-danger btn-lg" type="submit" name="button" value="join">Join</button>
            </div>
            <br>
            <div class="d-grid gap-2 col-4 mx-auto">
                <button class="btn btn-warning btn-lg" type="submit" name="button" value="create">Create Character</button>
            </div>
            <br>
            <div class="d-grid gap-2 col-4 mx-auto">
                <button class="btn btn-outline-info" type="submit" name="button" value="view">View Your Characters</button>
            </div>
            {% csrf_token %}
        </form>
    </main>


</body>

</html>